@mixin music {
    text-align:left;
    padding: 1.5rem;
    justify-content:flex-start;
}

.temas{
    
    h2{ color: rgb(62, 62, 61);}

     &_11{
        @include music
        padding-top: 2.1rem;  
    }
}

.otras{
    background-color: rgb(145, 145, 142);
    background-image: url(../imagenes/reto3.jpg);
    background-repeat: no-repeat;
     width: 100%;
     background-attachment:fixed;
     background-position: 50% 50%;
     }

.otras_texto{
    color: rgb(240, 240, 244);
    padding:2rem;
    justify-content: center;
    text-align: left;
    }



